.card-previous{
  width: 140px;
  height:160px;
  opacity: 0.6;

  position: absolute;
  z-index: -1;
  left: 19px;
  top: 324px;
}

.card-previous img{
  width: 140px;
  height: 140px;
  border-radius: 8px;
}

.card-info-previous{
  display: flex;
  flex-direction: column;
  margin-top: 0;
  text-align: center;
  width:100%;
  color: whitesmoke;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}